extends layout

block content
  main.column
    header.padding.small-round
      h2.padding-bottom Welcome to Lookmen AI!
      p This platform is designed to help you format and adapt your code to comply with best practices and conventions for various programming languages.
      p Simply enter your code below and click "Run" to see how it can be improved for better readability and maintainability.
    
    div.container
      form#form(action="", method="post").form
        section.row
          textarea#prompt(name="code" placeholder="Enter your code here").max
          button#submit(type="submit").padding Run
        section.output  
          div.button-container.padding
            button(data-clipboard-target="#code-content", id='copy').copy Copy Code
          section#result.result

  footer 
    p Developed by 
      a(href="https://www.github.com/timtjoe", target="_blank") Tim T. Joe 
      | for the Gemini API Hackathon 2024
