extends layout

block content
  div.cta
    h2 Welcome to Lookmen AI!
    p This platform is designed to help you format and adapt your code to comply with best practices and conventions for various programming languages. 
    p Simply enter your code below and click "Run" to see how it can be improved for better readability and maintainability.

  form#form(action="", method="post")
    div
      input#prompt(type="text", name="code" placeholder="Enter your code here")
      button#submit(type="submit") Run
    div 
      p#result Result
