doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="module", src="/javascripts/jquery.js") 
    script(type="module", src="/javascripts/main.js") 
  
