doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="module", src="/javascripts/jquery.js") 
    script(type="module", src="/javascripts/prism.min.js") 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    script(type="module", src="/javascripts/main.js") 

