@import url('./reset.css');
@import url("./prism.min.css");
@import url('./utilities.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


#prompt {
    width: 100%;
    min-height: 40px;    /* Initial minimum height */
    max-height: 300px;   /* Maximum height before scrolling */
    overflow-y: auto;    /* Show scrollbar when max-height is reached */
    resize: none;        /* Disable manual resizing */
  }

/* Skeleton Loader Styles */
.skeleton-loader {
    width: 100%;
    height: 100px; /* Adjust the height based on your needs */
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
  }
  
  @keyframes loading {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
